video+button.close {
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 270px;
    z-index: 0;
    @apply
    bg-emerald-950
    text-emerald-50
    rounded-md
    pl-2
    pr-2
}

video.hide {
    display: none;
}

.videoContainer {

    position: relative;
}