:root {
    --dropdownItemWidth: 200px;
    --dropdownItemHeight: 42px;
}

.dropbtn {
    background-color: #1e1e1e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #1e1e1e;
    width: var(--dropdownItemWidth);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 80vh;
    overflow-y:auto;
    overflow-x: hidden;
}


.dropdown:hover .dropbtn {
    background-color: rgb(113, 113, 113)
}

.dropdownItemContainer {
    width: var(--dropdownItemWidth);
    height: var(--dropdownItemHeight);
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
}

.dropdownItem {
    width: var(--dropdownItemWidth);
    height: var(--dropdownItemHeight);
    display: flex;
    vertical-align:middle;
    text-align: center;
    
}
.dropdownItem:hover .dropdownItemlabel {
    display:block;
}

.itemImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: var(--bgImage);
}
.itemImage:hover {
    background-image: linear-gradient(90deg,#000000c5 10%,#3131313e),
                        var(--bgImage);
}

.dropdownItemlabel {
    margin:auto;
    vertical-align: middle;
    font-size: large;
    font-weight: 600;
    height: var(--dropdownItemHeight);
    width: var(--dropdownItemWidth);
    display: none;
}

