#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Nunito Sans';
  @apply pr-8 pl-8 w-auto
}

body {
  @apply bg-slate-800 place-content-center
}

@font-face {
  font-family: 'Nunito Sans';
  src: local('NunitoSans'), url(./assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

a {
  @apply font-bold 
}

.cardContainer {
  align-items: flex-start;
  @apply flex flex-row flex-wrap
}

.card {
 @apply bg-lime-700 border rounded-lg m-4 w-96
}

.card .header {
  @apply flex text-left pl-4 pr-4 pb-2 pt-2 text-xl  text-white
}

.card .body {
  @apply text-justify p-4 pt-2 pb-2 text-base flex-1 text-white
}

.card .tags {
  @apply flex-row pt-2 pb-2 flex-wrap
}

.card .tags .filler {
  @apply flex-1
}

.card .tags .tag {
  @apply flex-none bg-lime-950 rounded-md pl-2 pr-2 ml-1 mr-1 text-sm text-white
}



li {
  @apply list-disc ml-6
}

.SearchTag {
  @apply
  flex
  pl-2 pr-2
  mt-2
}
.SearchTag div{
  @apply
  h-full
  flex
  pl-2
  pr-1
  rounded-l-lg
  bg-green-900
  text-green-100 
}
.SearchTag button {
  @apply
  flex
  pl-2
  pr-2
  rounded-r-lg
  bg-emerald-800
  hover:bg-red-700
  text-red-200
}

.CustomInput {
  &:hover {
    border-color: rgb(171, 255, 255);
  }

  &:focus {
    
  }

  &:focus-visible {
    outline: 0;
  }

  @apply
  pl-2 pr-3
  pt-2 pb-2
  border-2
  rounded-2xl
  text-center
  text-green-950
  bg-green-100
  border-emerald-800
  shadow-emerald-100
  
  focus:shadow-sm
  focus:border-red-500
}
